.single-block-item-style {
  background-color: white;
  border: 2px black solid;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  padding: 1.3rem;
}

.single-block-item-style__message {
  color: blue;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}
